* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.home {
    background-color: #19181a;
    background-image: url('../download.png');
}

#nav {
    background-color: rgb(0, 0, 0, .2);
    backdrop-filter: blur(10px);
    /* font-family: Abril FatFace; */
    color: white !important;
    z-index: 1;
    position: fixed;
    width: 100%;

}

#name {
    padding-left: 50px;
    font-size: 2.5rem;
    font-family: 'Dancing Script', cursive;
}

.nav_ul a {
    color: white !important;
    font-size: 24px;

}

.nav_ul li {
    margin: 0 20px;
}

#intro {
    color: white;
    /* padding-left: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 80px; */
    flex: 50%;
    height: 100vh;
}

.name {
    font-size: 3.5rem;
}

#intro>p {
    margin: 30px 0;
    font-size: 22px;
}

.contact i {
    font-size: 2rem;
    padding: 12px;
    margin-right: 10px;
    color: black;
    background-color: aliceblue;
    border-radius: 40px;
}

.contact i:hover {
    background-color: black;
    color: white;
}

.linkdin {
    color: blue !important;
}

.linkdin:hover {
    background-color: blue !important;
    color: white !important;
}

.heading {
    font-size: 3rem;
    background-color: rgb(0, 0, 0, .2);
    height: 80px;
    padding-left: 50px;
    color: white;
    text-align: center;
}

.icon {
    padding: 50px;
}

.skills-icon {
    width: 100px;
    height: 100px;
}

#projects {

    /* width: 500px; */
    height: 500px;
}

.banner {
    display: flex;
    flex-direction: row;
}

.banner_img {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.banner_img>img {
    width: 90%;
}

.about {
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: row;
    margin-top: 30px;
}

.about_me {
    flex: 50%;
    display: flex;
    justify-content: center;
    padding: 0 100px;
    flex-direction: column;

}

.about_me>p {
    /* word-break: break-all; */
    font-size: 24px;
    margin: 10px 0;
}

.title_name {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.json_onbject {
    font-size: 26px;
    flex: 50%;
    margin: auto;

}
#img{
    text-align: center;
}

@media screen and (max-width: 980px) {
    .banner {
        flex-direction: column;
    }

    .banner_img {
        margin: 40px 0;
    }

    .about {
        flex-direction: column;
    }

    .json_onbject {
        font-size: 26px;
        
        margin:  20px auto;
    }
}

@media screen and (max-width: 480px) {
    .name {
        font-size: 2.2rem;

    }

    .title_name {
        font-size: 1.6rem;
    }

    #name {
        font-size: 2rem;
        padding-left: 10px;
    }

    .json_onbject {
        font-size: 20px;
        margin-left: 20px;
    }
    .about_me{
        padding: 0 30px;
    }
    .heading{
        font-size: 2.3rem;
        line-height: 70px;
    }

}