* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    color: #95a2b3 !important;
    
}

.home {
    background-color: #19181a;
    /* background-image: url('../download.png'); */
}
#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: hsla(0, 0%, 0%, 0.25);;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    width: 50px;
    height: 50px;
}
#nav {
    background-color: hsl(240, 2%, 12%);
    backdrop-filter: blur(10px);
    color: white !important;
    z-index: 1;
    position: fixed;
    width: 100%;

}

#nav_hover:hover {
    color: aqua !important;
    border-bottom: 2px solid aqua;
}

#name {
    padding-left: 50px;
    font-size: 2.5rem;
    font-family: 'Dancing Script', cursive;
}
#text_color{
    color: white !important;
}
#text_color:hover{
    color: black !important;
}

#text_color1:hover{
    color: black !important;
}

.nav_ul a {
    color: white !important;
    font-size: 24px;

}

#btn>a {
    color: white !important;
}

#btn:hover>a {
    color: #19181a !important;

}

.nav_ul li {
    margin: 0 20px;
}

#intro {
    color: white;
    /* padding-left: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 80px; */
    flex: 50%;
    height: 100vh;
}

.name {
    font-size: 3.5rem;
}

#intro>p {
    margin: 30px 0;
    font-size: 22px;
}

.contact i {
    font-size: 2rem;
    padding: 12px;
    margin-right: 10px;
    color: black;
    background-color: aliceblue;
    border-radius: 40px;
}

.contact i:hover {
    background-color: black;
    color: white;
}

.github{
 color: black !important;
}
.github:hover{
    color: white !important;
    background-color: black !important;
}
.linkdin {
    color: blue !important;
}

.linkdin:hover {
    background-color: blue !important;
    color: white !important;
}

.heading {
    font-size: 3rem;
    background-color: hsl(240, 2%, 12%);
    height: 80px;
    /* padding-left: 50px; */
    color: #283847;
    text-align: center;

}

.icon {
    font-size: 22px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px 0;
}

.skill_icon {
    margin: 15px;
}

.skill_icon>img {
    height: 100px;
    width: 100px;
}


#projects {

    /* width: 500px; */
    height: 500px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 20px;
}

.project_card_inside {
    display: flex;
    /* flex-direction: column; */
}

.project_card {
    /* border: 1px solid  rgb(0, 0, 0, .7); */
    color: white;
    background-color: hsl(240, 2%, 12%);
    margin: 50px 0;
    width: 600px;
    font-size: 15px;
    padding: 15px 20px;
    border-radius: 15px;
    border: 1px solid hsl(0, 0%, 22%);
}

.project_card:hover {
    transform: scale(101%);
    transition: all .3s ease-in-out;
    box-shadow: 0 0 20px #000;
}

.banner {
    display: flex;
    flex-direction: row;
    z
}

#name_about {
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* -moz-background-clip: text;
  -moz-text-fill-color: transparent; */
}

.banner_img {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

.banner_img>img {
    width: 90%;
}

.about {
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: row;
    margin-top: 30px;
}

.about_me {
    flex: 50%;
    display: flex;
    justify-content: center;
    padding: 0 100px;
    flex-direction: column;

}

.about_me>p {
    /* word-break: break-all; */
    font-size: 24px;
    margin: 10px 0;
}

.title_name {
    font-size: 2.5rem;
    margin-bottom: 15px;

}

.json_onbject {
    font-size: 26px;
    flex: 50%;
    margin: auto;

}


#img {
    text-align: center;
}

#footer {
    min-height: 50px;
    background-color: rgb(0, 0, 0, .6);
    color: white;
    width: 100%;
    line-height: 50px;
}

.footer {
    /* display: flex;
    justify-content: space-between; */
    align-items: center;

}


.edu {
    margin: 50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.edu_temp{
    position: absolute;
    top: -15px;
    left: -23px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color:  #202022 ;
    box-shadow: -4px 4px 4px hsla(0, 0%, 0%, 0.25);
}
.edu_temp > img{
    
    height: 30px;
    width: 30px;
}

.eduactionCard {
    position: relative;
    color: white;
    padding: 30px 50px;
    border-left: 2px solid hsl(0, 0%, 22%);
}

.eduactionCard::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%));
    background-color: hsl(35, 100%, 68%);
    border-radius: 50%;
    top: 60px;
    left: -5px;
    box-shadow: 0 0 0 4px hsl(0, 0%, 22%);
}

@media screen and (max-width: 980px) {
    #nav_list{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner {
        flex-direction: column;
    }

    .banner_img {
        margin: 40px 0;
    }

    .about {
        flex-direction: column;
    }

    .json_onbject {
        font-size: 26px;

        margin: 20px auto;
    }
}

@media screen and (max-width: 480px) {
    .project_card_inside {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project_card{
        width: 400px;
    }
    .name {
        font-size: 2.2rem;

    }

    .title_name {
        font-size: 1.6rem;
    }

    #name {
        font-size: 2rem;
        padding-left: 10px;
    }

    .json_onbject {
        font-size: 20px;
        margin-left: 20px;
    }

    .about_me {
        padding: 0 30px;
    }

    .heading {
        font-size: 2.3rem;
        line-height: 70px;
    }

    .skill_icon>img {
        width: 80px;
        height: 80px;
    }

    /* .footer {
        flex-direction: column;
        line-height: 30px;
        padding: 20px 0;
    } */
}