/* Basic editor styles */
.tiptap {
    :first-child {
        margin-top: 0;
    }

    ul {
        list-style-type: disc;
        padding: 0 1rem;
        margin: 1.25rem 1rem 1.25rem 0.4rem;

        li p {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }
    }

    ol {
        list-style-type: decimal;
        padding: 0 1rem;
        margin: 1.25rem 1rem 1.25rem 0.4rem;

        li p {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: white;
        line-height: 1.2;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 1.8rem;
        font-weight: bold;
    }

    h2 {
        font-size: 1.6rem;
        font-weight: bold;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4,
    h5,
    h6 {
        font-size: 1.2rem;
    }

    code {
        background-color: var(--gray-3);
        border-radius: 0.4rem;
        color: var(--black);
        font-size: 0.85rem;
        padding: 0.25em 0.3em;
        font-family: 'JetBrainsMono', monospace;
    }

    pre {
        background: var(--black);
        border-radius: 0.5rem;
        color: var(--white);
        font-family: 'JetBrainsMono', monospace;
        margin: 1.5rem 0;
        padding: 0.75rem 1rem;
        white-space: pre-wrap;
    }

    blockquote {
        border-left: 4px solid var(--gray-3);
        margin: 1.5rem 0;
        padding-left: 1.25rem;
        font-style: italic;
        color: var(--gray-12);
    }

    hr {
        border: none;
        border-top: 1px solid var(--gray-6);
        margin: 2rem 0;
    }
}